body {
	text-align: center;
	background: linear-gradient(
		to bottom right,
		#6a11cb,
		#2575fc
	); /* Dégradé de couleurs vives */
	min-height: 100vh; /* Pour que le fond couvre toute la hauteur de la page */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff; /* Texte blanc pour contraster avec le fond */
	font-family: 'Arial', sans-serif; /* Police simple et moderne */
}

h1 {
	font-size: 3rem; /* Taille de police large pour attirer l'attention */
	font-weight: bold;
	color: #fff; /* Texte blanc */
	text-transform: uppercase; /* Met le texte en majuscules */
	letter-spacing: 2px; /* Espacement entre les lettres */
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ombre portée pour plus de profondeur */
	margin: 20px 0;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
	color: #ffdc00; /* Jaune vif pour bien ressortir sur le fond sombre */
	margin: 10px 0;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Ombre légère pour améliorer la lisibilité */
}

p {
	font-size: 1.5rem; /* Augmentation de la taille du texte pour le rendre plus présent */
	color: rgba(
		255,
		255,
		255,
		0.85
	); /* Texte blanc avec un peu de transparence pour un effet élégant */
	line-height: 1.8; /* Espacement plus grand entre les lignes pour rendre le texte plus aéré */
	max-width: 80%; /* Limiter la largeur pour ne pas étirer trop le texte */
	margin: 20px auto; /* Centrer le texte horizontalement avec un peu de marge */
	padding: 10px 20px; /* Ajouter un peu de padding pour aérer le texte */
	text-align: center; /* Centrer le texte */
	border: 2px solid rgba(255, 255, 255, 0.2); /* Une bordure fine et discrète pour délimiter le texte */
	border-radius: 10px; /* Coins arrondis pour un style plus moderne */
	background-color: rgba(
		0,
		0,
		0,
		0.4
	); /* Fond légèrement sombre pour faire ressortir le texte */
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Ombre portée pour donner de la profondeur */
	font-family: 'Helvetica Neue', sans-serif; /* Police moderne et propre */
}

.button {
	background: linear-gradient(45deg, #ff416c, #ff4b2b);
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 15px 30px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0 5px 15px rgba(255, 65, 108, 0.4);
	transition: all 0.3s ease-in-out;
}

.button:hover {
	transform: scale(1.1);
	box-shadow: 0 8px 20px rgba(255, 65, 108, 0.6);
}

.button:active {
	transform: scale(0.95);
	box-shadow: 0 2px 10px rgba(255, 65, 108, 0.5);
}
